# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
CACHE_TTL=3600

# Exchange Rate API Configuration
# Obtén tu API key gratis en: https://www.exchangerate-api.com/
EXCHANGE_API_KEY=your_api_key_here
EXCHANGE_API_URL=https://v6.exchangerate-api.com/v6

# Server Configuration
SERVER_PORT=50057
DEFAULT_CURRENCY=USD
